/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Paytone+One&display=swap');

/* Apply styles to all elements */
* {
    margin: 0;
    padding: 0;
}

/* Body styles */
body {
    background-color: #1D7874;
    font-family: 'Open Sans', sans-serif;
}

/* Header styles */
header > h1, header > p {
    position: sticky;
    width: 100%;
    max-height: 20em;
    max-width: 100%;
    text-transform: uppercase;
    color: whitesmoke;
}

header > h1 {
background-color: #071E22;
}

header > p {
    margin-left: 13em;
    margin-top: -4.5em;
    position: absolute;
}

/* Footer styles */
footer {
    
}

/* Title Icon styles */
.main-icon {
    width: 5em;
    vertical-align: middle;
    margin-right: 10px;
}

/* Social Media Icons & Styles */

#social-media-div {
    width: 100%;
    clear: both;
    text-align: center;
}

.social-media-list {
    background-color: #679289;
}

.social-media-list li {
    display: inline;
}

.social-media-list i {
    font-size: 160%;
    padding: 20px;
    color: #D7F9FF;
}

/* Navigation bar */
#main-nav {
    width: 100%;
    clear: both;
    position: sticky;
    background-color: #679289;
}

.main-nav-buttons{
    list-style: none;
    text-transform: uppercase;
    padding: 10px;
}

.main-nav-buttons li {
    display: inline-block;
    position: static;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 25px;
    margin-left: 20px;
}

.main-nav-buttons a {
    color: rgba(7, 30, 34, .5);
    font-size: 120%;
    text-decoration: none;
    font-family: 'Paytone One', sans-serif;
}

.main-nav-buttons a:hover {
    color: rgba(7, 30, 34, .7);
}
