/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Paytone+One&family=Raleway&display=swap');

/* Apply styles to all elements */
* {
    margin: 0 auto;
    padding: 0;
}

hr {
    height: 10px;
    width: 100%;
    border: 0px solid #3a3a3a;
    border-bottom: 3px solid #333;
}

/* Body styles */
body {
    background-color: #679289;
    font-family: 'Oswald', sans-serif;
}

/* Navigation bar styles */

#main-nav {
    background-color: #679289;
    border-bottom: 3px solid #333;
    text-align: center;
}

.main-nav-buttons{
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
}

.main-nav-buttons li {
    display: inline-block;
    margin: 20px auto;
    margin-left: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 25px;
    margin-left: 5px;
}

.main-nav-buttons a {
    color: rgba(7, 30, 34, .5);
    font-size: 120%;
    text-decoration: none;
    font-family: 'Paytone One', sans-serif;
}

.main-nav-buttons li:hover { 
    transition: transform .2s;
    transform: scale(1.1);
}

.main-nav-buttons li:not(:hover) {
    transition: transform .2s;
    transform: scale(1);
}

.main-nav-buttons a:hover {
    color: rgba(7, 30, 34, .7);
}

/* Title Icon styles */
#main-title {
    display: flex;
    background: radial-gradient(circle, rgba(30,76,84,1) 0%, rgba(7,30,34,1) 100%, rgba(2,0,36,0));
    width: 100%;
    height: fit-content;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    color: whitesmoke;
    border-bottom: 3px solid #333;
}

#main-title h1 {
    text-align: left;
    font-size: 300%;
}

/* Footer Social Media Icons & Styles */

footer {
    color: #D7F9FF;
    background: radial-gradient(circle, rgba(30,76,84,1) 0%, rgba(7,30,34,1) 100%, rgba(2,0,36,0));
    font-family: 'Oswald', sans-serif;
}

#social-media-div {
    width: 100%;
    clear: both;
    text-align: center;
}

.social-media-list li {
    display: inline;
}

.social-media-list i {
    font-size: 160%;
    padding: 20px;
    color: #D7F9FF;
    line-height: 30px;
}

.social-media-list i:hover {
    transition: transform .2s;
    transform: scale(1.1);
    color: white;
}

.social-media-list i:not(:hover) {
    transition: transform .2s;
    transform: scale(1);
}

#social-media-div h2 {
    text-transform: uppercase;
    font-size: 95%;
    padding-top: 20px;
}

/* Contact Form */
#contact-container {
    font-family: 'Oswald', sans-serif;
    height: fit-content;
    padding-bottom: 10px;
    padding-top: 10px;
}

.contact-form-container {
    display: flex;
}

#contact-container > p, #contact-container h3 {
    text-transform: uppercase;
    text-align: center;
}

#contact-container > p {
    font-size: 90%;
    opacity: 0.5;
}

#contact-container h3 {
    font-size: 150%;
    margin-bottom: 5px;
}

#contact-form input, #contact-form button, #contact-form textarea {
    display: block;
    margin: 5px;
}

#contact-form input, #contact-form textarea {
    font-family: 'Oswald', sans-serif;
    border: 1px solid #333;
    box-sizing: border-box;
    padding: 12px 20px;
}

#contact-form input:focus, #contact-form textarea:focus {
    background-color: cadetblue;
}

#contact-form textarea {
    transition: padding-bottom 0.4s ease-in-out;
    resize: none;
}

#contact-form textarea:focus {
    padding-bottom: 50px;
}

#contact-form button {
    background-color: cadetblue;
    padding: 2px;
    margin-left: 35%;
}

#contact-form button:hover {
    padding: 1px;
}

#contact-form label {
    font-size: 90%;
}

#contact-form label, #contact-form button {
    text-transform: uppercase;
    color: #D7F9FF;
}

/* Welcome Section styles */
#main-welcome {
    background: radial-gradient(circle, rgba(30,76,84,1) 0%, rgba(7,30,34,1) 100%, rgba(2,0,36,0));
    color: whitesmoke;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid #333;
}

#main-welcome h2 {
    font-family: 'Paytone One', sans-serif;
    font-size: 300%;
}

.main-welcome-caption {
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
    font-family: 'Oswald', sans-serif;
}

/* Global Section Styling */
body > section {
    color: white;
    height: fit-content;
    width: 100%;
    text-align: center;
    overflow: auto;
}

body > h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 200%;
    background: radial-gradient(circle, rgba(30,76,84,1) 0%, rgba(7,30,34,1) 100%, rgba(2,0,36,0));
    border-bottom: 3px solid #333;
}

.left-section-information {
    margin-left: 20px;
    width: 33%;
    height: fit-content;
    float: left;
    text-align: left;
}

.right-section-information {
    margin-right: 20px;
    width: 33%;
    float: right;
    text-align: right;
}

.middle-section-information {
    margin: 0 auto;
    width: 90%;
    text-align: center;
    padding-bottom: 20px;
    display: flex;
}

p.section-information-paragraph {
    color: rgba(255, 255, 255, 1);
    font-family: 'Oswald', sans-serif;
    font-style: italic;
}

.section-information-heading {
    font-family: 'Paytone One', sans-serif;
    width: max-content;
    height: max-content;
    display: inline-block;
    background-color: cadetblue;
    border: 2px solid white;
    padding: 4px;
    margin-bottom: 5px;
}

.right-section-wrapping > h2 {
    width: max-content;
    height: max-content;
    margin-left: -65px;
}

.section-information-wrapping {
    display: block;
    width: 100%;
}

/* Home Section Styling */
#main-home {
    height: 350px;
    width: 100%;
    text-align: center;
}

#banner-image {
    width: 100%;
    height: 100%;
    background-image: url('../images/index_images/banner.jpg');
    background-color: #cccccc;
    background-position: bottom;
    background-size: cover;
    overflow: hidden;
}

/* Calories Section Styling */
.tdee-calc {
    display: flex;
    background-color: rgba(30,76,84,1);
    color: white;
    width: fit-content;
    padding: 10px;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    transition: padding-left 0.1s ease-in-out,
                padding-right 0.1s ease-in-out;
}

.tdee-calc:hover {
    padding-left: 15px;
    padding-right: 15px;
}

/* Excerise Section Styling */
table, th {
    border: 3px solid white;
    margin: 20px;
    text-align: center;
    border-spacing: 5px;
    width: 100%;
}

th {
    border: 3px dashed whitesmoke;
}

.right-table {
    float: right;
}

.left-table {
    float: left;
}

.left-excerise-wrapping,  .right-excerise-wrapping{
    text-align: center;
    display: block;
}

.right-excerise-wrapping > p, .left-excerise-wrapping > p {
    width: max-content;
    display: inline-block;
}

#banner-info {
    display: flex;
    background-color: rgba(30,76,84,1git);
    color: white;
    width: fit-content;
    margin-top: 150px;
    padding: 10px;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
}

/* Circular Styling */
.circular-contents {
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: -25px;
}

.circular-contents li h4 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    padding: 5px;
    font-size: 120%;
    background-color: cadetblue;
    border: 2px solid white;
    line-height: 20px;
    opacity: 0;
    width: max-content;
}

.circular-contents li {
    background-color: rgba(255, 255, 255, .5);
    width: 12em;
    height: 12em;
    display: inline-block;
    border: 4px solid whitesmoke;
    border-style: outset;
    border-radius: 50%;
    margin-top: 20px;
}

.circular-contents li:hover {
    transition: transform 1s,
                border 5s linear;
    transform: scale(1.01);
    border: 4px solid rgba(255, 255, 255, .8);
}

.circular-contents li:not(:hover) {
    transition: transform 1s,
                border 5s linear,
                opacity 1s linear;
    transform: scale(1);
    border: 4px solid whitesmoke;
    border-style: outset;
    opacity: 1;
}

.circular-contents li h4:not(:hover) {
    transition: transform .1s,
                opacity .1s linear;
    opacity: 0;
}

.circular-contents li:hover > h4 {
    transition: transform .1s,
                opacity .1s linear;
    opacity: 1;
}

.circular-contents li:hover > i {
    color: rgba(7, 30, 34, .8);
}

.circular-contents li i {
    display: block;
    text-align: center;
    width: 100%; 
    margin-top: 15px;
    height: 100%;
    font-size: 500%;
}

/* Media */

/* Small devices 600px + */
@media only screen and (min-width: 301px) and (max-width: 600px) {
    .circular-contents li {
        margin-left: 20px;
        margin-right: 10px;
    }
    .main-nav-buttons li{
        display: block;
    }
    .section-information-heading {
        font-size: 90%;
    }
}

/* Extra small devices 600px + */
@media only screen and (min-width: 300px) {
    .circular-contents li {
        margin-left: 70px;
        margin-right: 50px;
        margin-bottom: 20px;
    }
    #contact-container {
        margin-left: 10px;
    }
    .section-information-heading {
        font-size: 100%;
    }
    .section-information-heading {
        margin-top: 10px;
    }
    .right-excerise-wrapping, .left-excerise-wrapping {
        display: block;
    }
    .right-excerise-wrapping > p, .left-excerise-wrapping > p {
        width: fit-content;
        display: inline-block;
    }
    .right-excerise-wrapping > h2, .left-excerise-wrapping > h2 {
        display: flex;
    }
    .right-excerise-wrapping > h2 {
        float: right;
    }
}